/* weather_now */
.content {
    display: inline-grid;
    width: 100%;
    padding-top: 3%;
    font-family: Oswald, sans-serif;
    text-shadow: 1px 1px 1px #16a085, 1px 1px 4px #2980b9;
    text-align: center;
    color: white;
    background-color: black;
    height: 729px;
}

.search-sity {
    height: 729px;
    margin: 0 auto;
}

.form-control::placeholder {
    color: gray;
}

/* ------------------------------ */

/* index */
.logo {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}
/* ------------------------------ */

/* main */

.video-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
   
}

#myVideo {
    position:inherit;
    width: 100%; 
    height: 100%;
    
    
}

.container-all {
    position: relative;
    overflow: hidden;
    background-color:black;
}

/* ------------------------------ */

/* about */

#input-text>h5 {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    text-align: left;
}

#input-text>h5:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    color: #f5f379;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    text-align: left;
}

#doc:hover {
    transform: scale(1.3);
    color:chocolate;
    transition: all 0.5s ease-out;
}