{% extends 'main/index.html' %}
{% load static %}


{% block content %}
<div class="content">
    <div id="input-text">
      <h1 id="doc" class="search-h1" style="color:rgba(0, 195, 255, 0.63); margin-bottom: 0;">Документация Weather-2-Fly</h1>
      <br>
      <p></p>
      <br>
      <h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspПриложение предназначено для определения погоды в определяемом по координатам регионе и
        вычисления наилучшего времени для полетов на квадрокоптере типа "Дрон". 
      </h5>
      <h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВычисление благоприятного времени для осуществления полетов производится на основании
        данных, рекомендуемых документацией дрона. 
      </h5>
      <h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspВывод информации производится в виде коэффициента от 0 до 1 с градацией 0.25.
      </h5>
    </div>
</div>
{% endblock %}